.container {
  max-width: 124rem;
  padding: 4rem 1rem;
  z-index: 1;
}

/* .swiper_container {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
} */

.swiper-slide {
  width: 320px;
  height: 500px;
  position: relative;
}

@media (max-width: 500px) {
  /* .swiper_container {
    height: 47rem;
  } */
  .swiper-slide {
    width: 320px !important;
    height: 500px !important;
  }
  .swiper-slide img {
    width: 320px !important;
    height: 500px !important;
  }
}

.swiper-slide img {
  width: 320px;
  height: 500px;
  border-radius: 2rem;
  object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

